# Setup Oh-My-ZSH
export ZSH={{ home_directory }}/.oh-my-zsh
ZSH_THEME="afowler"
source $ZSH/oh-my-zsh.sh

{% if ansible_os_family == "Debian" %}
plugins=(git)
{% elif ansible_os_family == "Darwin" %}
plugins=(git vagrant)
{% endif %}


# Setup global variables
{% if ansible_os_family == "Debian" %}
export PATH="/usr/local/bin:/usr/bin:/bin:/usr/games"
export DEBFULLNAME="Azer Abdullaev (Like All)"
export DEBEMAIL="like-all@yandex.com"
{% elif ansible_os_family == "Darwin" %}
export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/games"
{% endif %}

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

export PATH=$PATH:{{ home_directory }}/bin
export GOPATH="{{ home_directory }}/dev/golibs"
export GOBIN="{{ home_directory }}/bin"

# Setup aliases
alias cdgit='cd $(git rev-parse --show-cdup)'

# Setup SSH agent
SSH_ENV="$HOME/.ssh/environment"

function start_agent {
    echo "Initialising new SSH agent..."
    /usr/bin/ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
    echo succeeded
    chmod 600 "${SSH_ENV}"
    . "${SSH_ENV}" > /dev/null
    /usr/bin/ssh-add;
}

if [ -f "${SSH_ENV}" ]; then
    . "${SSH_ENV}" > /dev/null
    ps -ef | grep ${SSH_AGENT_PID} | grep ssh-agent$ > /dev/null || {
        start_agent;
    }
else
    start_agent;
fi
