[
  {
    "id": "telegram",
    "execute-command": "/etc/webhook/scripts/telegram.sh",
    "response-message": "OK!",
    "pass-arguments-to-command":
    [
      {
        "source": "payload",
        "name": "message"
      }
    ],
    "trigger-rule":
    {
      "match":
      {
        "type": "value",
        "value": "{{ api.telegram_bot_token }}",
        "parameter":
        {
          "source": "payload",
          "name": "token"
        }
      }
    }
  },
  {
    "id": "healthcheck",
    "response-message": "OK, Webhook server is running"
  }
]