{
    "telegramBotToken": "{{ api_telegram_bot_token }}",
    "webhookToken": "{{ api_webhook_token }}",
    "lastfmToken": "{{ api_lastfm_token }}",
    "telegramBotRecipient": "/etc/datasources/pisun-default-chat",
    "scrobbleApiKey": "{{ api_scrobble_api_key }}",
    "scrobbleApiSecret": "{{ api_scrobble_api_secret }}",
    "scrobbleUsername": "{{ api_scrobble_username }}",
    "scrobblePassword": "{{ api_scrobble_password }}",
    "scrobbleWebhookToken": "{{ api_scrobble_webhook_token }}",
    "socketPath": "/tmp/apps-api.sock"
}