{
    "telegramBotToken": "{{ api.telegram_bot_token }}",
    "webhookToken": "{{ api.webhook_token }}",
    "lastfmToken": "{{ api.lastfm_token }}",
    "telegramBotRecipient": "/etc/datasources/pisun-default-chat",
    "scrobbleApiKey": "{{ api.scrobble_api_key }}",
    "scrobbleApiSecret": "{{ api.scrobble_api_secret }}",
    "scrobbleUsername": "{{ api.scrobble_username }}",
    "scrobblePassword": "{{ api.scrobble_password }}",
    "scrobbleWebhookToken": "{{ api.scrobble_webhook_token }}",
    "socketPath": "/tmp/apps-api.sock"
}