admins = { "like-all@it-the-drote.tk" };
use_libevent = true;
modules_enabled = {
                "roster";
                "saslauth";
                "tls";
                "dialback";
                "disco";
                "private";
                "vcard";
--              "compression"; Disabled beacause of security concerns
--                             see https://mail.jabber.org/pipermail/standards/2014-October/029215.html
                "legacyauth";
                "version";
                "uptime";
                "time";
                "ping";
                "pep";
                "register";
                "adhoc";
                "admin_adhoc";
                "admin_telnet";
                "announce";
                "welcome";
                "watchregistrations";
--               "posix"; Also deprecated
                "carbons";
};
modules_disabled = {
};

allow_registration = true;

daemonize = true;
pidfile = "/var/run/prosody/prosody.pid";
ssl = {
        key = "/etc/letsencrypt/live/it-the-drote.tk/privkey.pem";
        certificate = "/etc/letsencrypt/live/it-the-drote.tk/fullchain.pem";
};
s2s_require_encryption = true;

--authentication = "internal_plain";

storage = "sql";
sql = {
        driver = "MySQL";
        database = "xmpp";
        username = "xmpp",
        password = "{{ xmpp.mysql_password }}";
        host = "localhost";
};

log = {
        info = "/var/log/prosody/prosody.log";
        error = "/var/log/prosody/prosody.err";
        { levels = { "error" }; to = "syslog";  };
};

VirtualHost "it-the-drote.tk"
        enabled = true;
        ssl = {
                key = "/etc/letsencrypt/live/it-the-drote.tk/privkey.pem";
                certificate = "/etc/letsencrypt/live/it-the-drote.tk/fullchain.pem";
        };
Component "conference.it-the-drote.tk" "muc";

VirtualHost "rcmd.space"
        enabled = true;
        ssl = {
                key = "/etc/letsencrypt/live/rcmd.space/privkey.pem";
                certificate = "/etc/letsencrypt/live/rcmd.space/fullchain.pem";
        };
--Component "conference.rcmd.space" "muc";

Include "conf.d/*.cfg.lua";

welcome_message = "";