ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="0250", RUN+="/bin/systemctl start keyboard-fix"
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="0250", RUN+="/bin/systemctl stop keyboard-fix"
